<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
	    <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", stations_path  %></li>
  		<li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_station_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Stations</h2>
    <div class="inner">
      <div style="margin-left: 15px;">
        <% @stations.each do |color, stations_array| %>
        <div style="width:33%;color:<%= color %>;float:left;">
					<% stations_array.each_with_index do |station, index| %>
					<ul>
						<li> 
							<%= station.name %>  
							<% if index > 0 %>
								- <%= stations_array[index - 1].name %> 
								( <%= "%0.2f" % station.distance_from( stations_array[index - 1], :units => :kms ) %> kms)
							<% end %>
						</li>
					</ul>
					<% end %>
				</div>
				<% end %>
      </div>
			<br clear="both" />
			<br clear="both" />
			<%= @map.to_html %>
			<%= @map.div(:width => 1000, :height => 600) %>
      <div style="widht:500px;height:500px" id="map-canvas"></div>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>

